fastapi==0.103.2
pydantic==2.0.3
pydantic-settings==2.0.3
uvicorn==0.23.1
SQLAlchemy==2.0.9
SQLAlchemy-Utils==0.41.1
python-dotenv==1.0.0
python-dateutil==2.8.2
openpyxl==3.1.2
requests==2.31.0
redis==5.0.1
